
/*
darkorange : #ff8c00 : rgba(255, 140, 0, 1)
#f4f4f4 : rgba(244, 244, 244, 1)
#1f1f1f : rgba(31, 31, 31, 1)
*/


/*


		:hover - This pseudo-class is applied to an element when the user hovers over it with a pointing device, such as a mouse or trackpad.

		:active - This pseudo-class is applied to an element when it is being activated by the user. This could be clicking on a link or button, for example.

		:focus - This pseudo-class is applied to an element when it is receiving input focus. This could be through tabbing between inputs or clicking on an input element.

		:focus-visible - This pseudo-class is applied to an element when it is receiving keyboard focus, but not when it is receiving focus through a pointing device. It is used to provide a visible indicator of focus only for keyboard users.

		:focus-within - This pseudo-class is applied to a parent element when any of its child elements are receiving input focus. It is used, for example, to change the styles of a container when the user is interacting with any input elements within it.

		:visited - This pseudo-class is applied to a link element (<a>) after it has been visited by the user. It is used to style visited links differently from non-visited links.

		:target - This pseudo-class is applied to an element (typically an anchor <a> element) when its ID matches the URL fragment identifier. It is used to change the styles of the targeted element when it is linked to.

*/

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

::selection {
	background-color: rgba(31, 31, 31, 1);
	color: rgba(244, 244, 244, 1);
}

body{
	background-color: #f4f4f4;
	color: #1f1f1f;

	font-weight: bold;
	font-family: Geologica;
	letter-spacing: 1.2px;
	line-height: 1.5;
	font-size: 1.2em;
}

header{
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.0);
	background-size: cover;
}

main{
	width: 100%;
	background-color: #f4f4f4;
	background-size: cover;
}

main section {
	height: 100vh;
	overflow: hidden;
}

main section a{
	color: #1f1f1f;
}

footer{
	width: 100%;
	color: #f4f4f4;
	background-color: #1f1f1f;
	background-size: cover;
	padding: 10px;
}

footer a{
	color: #f4f4f4;
}

/* ---------------------------------------------- BACKGROUND GRADIENT MAIN ---------------------------------------------- */

.backgroundGradient{
	height: 100%;
	width: 100%;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;  
	overflow: hidden;
	border-radius: 0px;
	opacity: 40%;
	z-index: -1;

	background-color: #f4f4f4;
}

.backgroundGradient div{
	position: absolute;
	border-radius: 50%;
	animation: gradient 4s infinite;
}

@keyframes gradient{
	70% {
		transform: scale(1.5) translate(200px);
	}
}

.backgroundGradient div:nth-child(1){
	height: 50%;
	width: 60%;
	background-color: rgba(255, 191, 128, 1.0);
	left: 5%;
	top: 0%;
	animation-duration: 9s;

}

.backgroundGradient div:nth-child(2){
	height: 45%;
	width: 80%;
	background-color: rgba(255, 133, 102, 1.0);
	left: 45%;
	top: 0%;
	animation-duration: 7s;

}

.backgroundGradient div:nth-child(3){
	height: 40%;
	width: 30%;
	background-color: rgba(255, 133, 102, 1.0);
	left: 0%;
	top: 35%;
	animation-duration: 6s;

}

.backgroundGradient div:nth-child(4){
	height: 90%;
	width: 55%;
	background-color: rgba(255, 191, 128, 1.0);
	left: 40%;
	top: 60%;
	animation-duration: 5s;

}

.backgroundGradient:after{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	backdrop-filter: blur(100px);

}


/* ---------------------------------------------- BACKGROUND GRADIENT SECTIONS ---------------------------------------------- */

/* ----------------------- SECTION 1 ----------------------- */
.linear-gradient01 {
	background: linear-gradient(to right, rgba(255, 140, 0, 0.4) 0%, rgba(255, 102, 153, 0.5) 100%);/*255, 153, 102 */
	animation: gradient01 4s infinite;
}

@keyframes gradient01{
	30% {
		background-color: rgba(255, 140, 0, 0.2);
	}
	30% {
		background-color: rgba(255, 102, 153, 0.2);
	}
}
/* ----------------------- SECTION 2 ----------------------- */
.linear-gradient02 {
	background: radial-gradient(circle at 200px 800px, rgba(255, 80, 80, 0.7) 0%, rgba(255, 204, 102, 0.5) 100%);/*255, 153, 102 */
	animation: gradient02 4s infinite;
}

@keyframes gradient02{
	30% {
		background-color: rgba(255, 80, 80, 0.2);
	}
	30% {
		background-color: rgba(255, 204, 102, 0.2);
	}
}
/* ----------------------- SECTION 3 ----------------------- */
.linear-gradient03 {
	background: radial-gradient(circle at 200px 800px, rgba(255, 80, 80, 0.7) 0%, rgba(255, 204, 102, 0.5) 100%);/*255, 153, 102 */
	animation: gradient03 4s infinite;
}

@keyframes gradient03{
	30% {
		background-color: rgba(255, 80, 80, 0.2);
	}
	30% {
		background-color: rgba(255, 204, 102, 0.2);
	}
}
/* ----------------------- SECTION 4 ----------------------- */
.linear-gradient04 {
	background: radial-gradient(circle, rgba(255, 153, 51, 0.4) 0%, rgba(255, 102, 204, 0.7) 200%);/*255, 153, 102 */
	animation: gradient04 4s infinite;
}

@keyframes gradient04{
	30% {
		background-color: rgba(255, 102, 204, 0.2);
	}
	30% {
		background-color: rgba(255, 153, 51, 0.2);
	}
}
/* ----------------------- SECTION 5 ----------------------- */
/* ----------------------- SECTION 6 ----------------------- */
.linear-gradient06 {
	background: linear-gradient(to top left, rgba(255, 80, 80, 0.8) 0%, rgba(102, 0, 255, 0.8) 100%);
	animation: gradient06 4s infinite;
}

@keyframes gradient06{
	30% {
		background-color: rgba(255, 102, 204, 0.6);
	}
	30% {
		background-color: rgba(255, 153, 51, 0.6);
	}
}
/* ----------------------- SECTION 7 ----------------------- */
.linear-gradient07 {
	background: linear-gradient(to top left, rgba(255, 111, 111, 0.8) 0%, rgba(104, 34, 255, 0.8) 100%);
	animation: gradient07 4s infinite;
}

@keyframes gradient07{
	30% {
		background-color: rgba(255, 80, 80, 0.7);
	}
	30% {
		background-color: rgba(255, 204, 102, 0.7);
	}
}
/* ----------------------- SECTION 8 ----------------------- */
.linear-gradient08 {
	background: linear-gradient(to top right, rgba(104, 34, 255, 0.8) 0%, rgba(255, 111, 111, 0.8) 100%);
	animation: gradient08 4s infinite;
}

@keyframes gradient08{
	30% {
		background-color: rgba(255, 80, 80, 0.7);
	}
	30% {
		background-color: rgba(255, 204, 102, 0.7);
	}
}

/* ---------------------------------------------- BACKGROUND - main renderer ---------------------------------------------- */

#renderer-main {
	position: absolute;

	/*pour éviter que le rendu déborde du body et génére scroll-x*/
	overflow: hidden;
	width: 100%;
}

#renderer-main-blur {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	width: 100%;
	height: 100vh;
}

.blur {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	width: 100%;
	height: 100vh;
}

/* ---------------------------------------------- BACKGROUND - sandbox ---------------------------------------------- */

.renderers {
	position: absolute;

	/*pour éviter que le rendu déborde du body et génére scroll-x*/
	overflow: hidden;
	width: 100%;
	height: 100%;

	background-color: rgba(31, 31, 31, 1.0);
}

input.search-bar[type=search] {
	width: 600px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: rgba(244, 244, 244, 0.5);
	background-image: url('./favicon.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 50px;

}

.renderers input.search-bar[type=search] {
	width: 75%;
	max-width: 600px;
}


/* ---- */

#golpexMath .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(244, 244, 244, 0.1);
	padding: 20px;
	border-radius: 20px;
	width: 80%;
	height: 90%;
}

#golpexMath .container .btn {
	width: 50px;
	height: 50px;
}

#golpexMath .container .output2 {
	width: 100%;
	background-color: rgba(244, 244, 244, 0.3);
	padding: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 20px;
	border-radius: 20px 0px 0px 20px;
}

#golpexMath .container .output2 .message {
	background: rgba(0,0,0,0.1);
	margin: 10px;
	border-radius: 20px;
	padding: 10px;
}

#golpexMath .container .output2 .message .title{
	padding: 10px;
	margin: 10px 0px 0px 0px;
}


#golpexMath .container .output2 .message .container {
	
	width: 100%;
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
}

#golpexMath .container .output2 .message .container .code {
	
	width: 100%;
	background: rgba(31, 31, 31, 0.8);
	padding: 10px;
}

#golpexMath .container .output2 .message .container .topbar {
	
	height: 50px;
	background: rgba(31, 31, 31, 0.9);
	display: flex;
	justify-content: flex-end;
}

#golpexMath .container .output2 .message .container .topbar button {
	
	width: 50px;
	height: 50px;
	border: none;
	background: rgb(63, 63, 63, 0.5);
	cursor: pointer;
	transition: 0.2s;
}

#golpexMath .container .output2 .message .container .topbar button i{
	
	color: rgb(244, 244, 244, 1.0);
	font-size: 1.3rem;
}
#golpexMath .container .output2 .message .container .topbar button:hover {
	background: rgb(63, 63, 63, 0.7);
}
#golpexMath .container .output2 .message .container .topbar button:active {
	background: rgb(0, 244, 0, 0.5);
}

#golpexMath .container .output2 textarea {
	resize: vertical;
	width: calc(100% - 20px);
	height: auto;

	padding: 20px;
	margin: 10px;

	border: none;
	border-radius: 20px;
	
	font-size: 1rem;
	font-family: 'JetBrains mono', monospace;
	
	
	background: rgba(31, 31, 31, 0.8);
	color: rgba(244, 244, 244, 1.0);
}

#golpexMath .container .output2 textarea:focus-visible {
	outline-style: solid;
	outline-color: black;
	outline-width: 0.15rem;
}

#golpexMath .container .output2 .class-container {
  width: calc(100% - 20px);
  min-height: auto;
  background: rgba(255, 0, 255, 0.5);
  margin: 10px;
  border-radius: 20px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#golpexMath .container .output2 .class-container .topbar {
  width: calc(100% - 00px);
  height: 50px;
  background: rgba(255, 0, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#golpexMath .container .output2 .class-container .topbar .btn {
  width: 50px;
  height: 50px;
  background: rgba(0, 255, 255, 0.5);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}

#golpexMath .container .output2 .class-container .topbar .btn:hover {
  background: rgba(0, 255, 255, 0.8);
}

#golpexMath .container .output2 .class-container .topbar .btn:active {
	background: rgba(127, 255, 255, 1.0);
}

#golpexMath .container .output2 .class-container .object-appearance{
  width: 100%;
  height: auto;
  background: rgba(255, 255, 0, 0.5);
  display: flex;
	flex-direction: column;
	align-items: center;
}

#golpexMath .container .output2 .class-container .bottombar {
  width: calc(100% - 00px);
  height: 50px;
  background: rgba(127, 127, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#golpexMath .container .output2 .class-container .bottombar .btn {
  width: 50%;
  height: 50px;
  background: rgba(127, 127, 255, 0.5);
  font-family: Geologica;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  display: flex;
	justify-content: space-evenly;
	align-items: center;
  transition: 0.5s;
}

#golpexMath .container .output2 .class-container .bottombar .btn:hover {
  background: rgba(127, 127, 255, 0.8);
}

#golpexMath .container .output2 .class-container .bottombar .btn:active {
  background: rgba(127, 127, 255, 1.0);
  transition: 0;
}

/* ---- */

.output {
	width: 75%;
	max-width: 600px;
	min-width: 50px;
	min-height: 50px;
	max-height: 400px;
	overflow-y: scroll;

	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: rgba(244, 244, 244, 0.5);
	padding: 0px;
	margin: 10px;
}

.output pre {
	border: none;
	overflow-x: scroll;
	background-color: rgba(31, 31, 31, 0.8);
	color: white;
	font-family: monospace;
}

@media screen and (max-width: 800px) {
		input.search-bar[type=search] {
				width: 300px;
		}

		.output {
				width: 300px;
		}
}

/* -- idle -- */

button.golpex-idle-element {
	padding: 20px;
	margin: 0px 0px;
	width: 100%;
	height: 80px;
	border-radius: 0px;
	border: none;
	background-color: rgba(244, 244, 244, 0.2);
	font-family: Geologica, sans-serif;
	letter-spacing: 0.1rem;
	font-size: 1.3rem;
	overflow: hidden;

	transition: 0.5s;
}

button.golpex-idle-element:hover {
	background-color: rgba(244, 244, 244, 0.8);
	cursor: pointer;
}

button.golpex-idle-element:active {
	/* red */
	background-color: rgba(244, 0, 0, 0.8);
	cursor: pointer;
}

button.golpex-idle-element.isOk:active {
	/* green */
	background-color: rgba(0, 244, 0, 0.8);
	cursor: pointer;
}

/* -- menu -- */

button.golpex-menu-element {
	padding: 0px 10px;
	margin: 0px 0px;
	width: 100%;
	height: 50px;
	border-radius: 0px;
	border: none;
	background-color: rgba(244, 244, 244, 0.2);
	font-family: Geologica, sans-serif;
	letter-spacing: 0.1rem;
	font-size: 1.1rem;
	overflow: hidden;

	transition: 0.5s;
}

button.golpex-menu-element:hover {
	background-color: rgba(255, 140, 0, 0.5);
	cursor: pointer;
}

button.golpex-menu-element:active {
	background-color: rgba(255, 140, 0, 1.0);
	cursor: pointer;
}

.golpex-math-element {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	width: 300px;
	height: 100%;
	background-color: rgba(244, 244, 244, 0.2);
	overflow-y: scroll;
	overflow-x: hidden;
}

.golpex-math-element > * {
	/*direct children*/
	height: auto;
	min-height: 100px;
}

button.btn-circle {
	border: none;
	padding: 5px;
	background-color: rgba(244, 244, 244, 0.2);
	transition: 0.2s;
}

button.btn-circle > * {
	padding: 30px 15px;
}

button.btn-circle:hover {
	background-color: rgba(244, 244, 244, 0.5);
	cursor: pointer;
}

button.btn-circle:active {
	background-color: rgba(244, 244, 244, 0.9);
	cursor: pointer;
}

.spaced {
	padding: 10px;
	margin: 10px;
}

.full-width {
	width: 100%;
}
/* ---------------------------------------------- MAIN LOGO ---------------------------------------------- */

#main-logo {
	width: 300px;
	/*margin: 30px;*/
}

@media screen and (max-height: 500px){

	#main-logo {
		display: none;
	}
}

/* ---------------------------------------------- BUTTONS ---------------------------------------------- */

button.button-old {
	padding: 20px;
	margin: 0px 0px;
	width: 200px;
	height: 80px;
	border-radius: 100px;
	border: none;
	background-color: rgba(255, 140, 0, 0.2);
	font-family: Geologica, sans-serif;
	letter-spacing: 0.1rem;
	font-size: 1.1rem;
	overflow: hidden;

	transition: 0.5s;
}

button.button-old:hover {
	background-color: rgba(255, 140, 0, 0.8);
	cursor: pointer;
}

/* ---------------------------------------------- TITLES ---------------------------------------------- */

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

h4{
	text-align: center;
}

h5{
	text-align: center;
}

h6{
	text-align: center;
}

/* ---------------------------------------------- FILE (a suppr/refaire) ---------------------------------------------- */

input[type="file"] {
	display: none; /* hide the default file input button */
}

.custom-file-upload {
	padding: 20px;
	margin: 0px 0px;
	width: 200px;
	border-radius: 0px;
	border: none;
	background-color: rgba(255, 140, 0, 0.2);
	font-weight: bold;
	letter-spacing: 1.5px;
	font-size: 15px;
	cursor: pointer;
}

.custom-file-upload:hover {
	background-color: rgba(255, 140, 0, 0.8);
}

/* ---------------------------------------------- NAVBAR ---------------------------------------------- */
.nav-section {
	display: flex;
	flex-direction: column;
	width: 200px;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 140, 0, 0.1);
	backdrop-filter: blur(12px);

	padding-top: 150px;
	height: 100%;

	overflow-y: scroll;
}

.nav-section .nav-links{
	width: 100%;
}

.nav-section .nav-links ul{
	display: flex;
	flex-direction: column;

	width: 100%;
}

.nav-section .nav-links ul li{
	list-style-type: none;
	display: inline-block;
	/*padding: 10px 20px;*/

	width: 100%;
	height: 100%;
}

.nav-section .nav-links ul li button{
	color: #1f1f1f;
	text-decoration: none;
	font-weight: bold;

	background-color: rgba(255, 140, 0, 0.0);

	width: 100%;
}

.nav-section .nav-links ul li button:hover{
	background-color: rgba(255, 140, 0, 0.5);
	transition: .3s;
}


nav{
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/*padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;*/

	background-color: rgba(255, 140, 0, 0.1);
	backdrop-filter: blur(12px);
	z-index: 1;

	transition: 0.5s;
}

nav.hideNav {
	top: -100%;
}

nav a{
	color: #4f4f4f;
}

nav .logo{
	position: absolute;
	left: 20px;/*10%*/
	font-size: 2em;
	font-weight: bold;
}

nav .nav-links ul{
	display: flex;

	width: 100%;
}

nav .nav-links ul li{
	list-style-type: none;
	display: inline-block;
	/*padding: 10px 20px;*/

	width: 100%;
	height: 100%;
}

nav .nav-links ul li button{
	color: #1f1f1f;
	text-decoration: none;
	font-weight: bold;

	background-color: rgba(255, 140, 0, 0.0);
	width: 100%;
	height: 100%;

}

nav .nav-links ul li button:hover{
	background-color: rgba(255, 140, 0, 0.5);
	transition: .3s;
}

nav .menu-hamburger{
	display: none;
	color: #1f1f1f;
	position: absolute;
	right: 20px;/*10%*/
	font-size: 30px;
	transition: .3s;

}

@media screen and (max-width: 1000px){

	nav {
		height: 100px;
	}

	nav .menu-hamburger{
		display: block;
	}

	nav .menu-hamburger.mobile-menu{
		right: 220px;
	}

	nav .nav-links {
		top: 0;
		left: calc(100% - 200px);;
		position: absolute;
		background-color: rgba(255, 90, 0 ,0.2);
		backdrop-filter: blur(12px);
		width: 200px;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -100%;
		transition: all 0.5s ease;
	}

	nav .nav-links.mobile-menu {
		margin-left: 0;
	}

	nav .nav-links ul{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	nav .nav-links ul li button{
		/*margin: 25px 0;*/
		font-size: 1.2em;
	}

}

@media screen and (max-height: 500px){

	nav .nav-links {
		padding-top: 150px;
		max-height: 100hv;
		overflow: hidden;
	}

	nav .nav-links {
		overflow: scroll;
	}

	nav .nav-links ul li button{
		/*margin: 25px 0;*/
		font-size: 1.0em;
	}
}

div .fa-solid.fa-circle-info {
	font-size: 10em;
	transition: .5s;
}
@media screen and (max-width: 400px){
	div .fa-solid.fa-circle-info {
		font-size: 3em;
	}
}


/* ---------------------------------------------- UTILS ---------------------------------------------- */

.name-golpex {
				
	background: -webkit-linear-gradient(45deg, #ff4d4d, #ff8c00 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/*color: rgb(237, 148, 77);*/
}

.div-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-height {
	height: 100%;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.div-start {
	display: flex;
	justify-content: start;
	align-items: center;
}

.padding {
	padding: 10px 30px;
}

.small {
	font-size: 0.8em;
}

.medium {
	font-size: 1.2em;
}

.spacing {
	letter-spacing: 5px;
}

.text-orange {
	/*color: darkorange;*/

	/*background: -webkit-linear-gradient(0deg, #ff5050 0%, #ff8c00 100%);*/ /*orange - more golpex friendly*/
	background: -webkit-linear-gradient(0deg, #ff5050 0%, #ff4d4d 100%); /*red - more visible*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


}

.text-enlarge2 {
	font-size: 2em;
}

.text-enlarge4 {
	font-size: 4em;
}

.math-enlarge {
	font-size: 1.5em;
}

@media screen and (max-width: 400px){

	.phoneShrink {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 600px){

	.text-enlarge4 {
		font-size: 2em;
	}
}

/* ---------------------------------------------- IN-VIEWPORT ---------------------------------------------- */


[data-inviewport="fade"] {
	transition: 3s ease-out;
	opacity: 0.0;
}

[data-inviewport="fade"].is-inViewport { 
	opacity: 1.0;
}

[data-inviewport="slide"] { 
	transition: 1.5s ease-out;
	opacity: 0.0;
	transform: translate(0, -30%);

}
			
[data-inviewport="slide"].is-inViewport { 
	opacity: 1.0; 
	transform: translate(0, 0);
}

/* ---------------------------------------------- ICONS ---------------------------------------------- */

.fa-discord {
	transition: .5s;
}
.fa-discord:hover {
	color: #5865f2;
}

.fa-youtube {
	transition: .5s;
}
.fa-youtube:hover {
	color: #ff0000;
}

/* ---------------------------------------------- LOADER ---------------------------------------------- */


.lds {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	transition: 0.5s;
}
.lds div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #ff8c00;
	animation: lds 1.2s cubic-bezier(.68,-0.55,.27,1.55) infinite;
	/*cubic-bezier(0.0, 0.5, 0.5, 1.0)*/
}
.lds div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}
.lds div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}
.lds div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}
@keyframes lds {
	0% {
		top: 8px;
		height: 64px;
	}
	50%, 100% {
		top: 24px;
		height: 32px;
	}
}

/*
<div class="lds"><div></div><div></div><div></div></div>
*/

/* ---------------------------------------------- TIER LIST ---------------------------------------------- */

/*ULYSSE TIER LIST*/

#conteneur-tier-list {
	transform: scale(0.9); 
	transition: 3s;
}

.margin {
		margin: 10px;
}

.size-up{
	font-size: 2em;
}

.panneau select {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: rgba(244, 244, 244, 0.5);
	padding: 12px 20px 12px 50px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1.2px;
}

#propositions {
	max-height: 100px;
	width: 400px;
	overflow-y: scroll;
}

#propositions ul li {
	cursor: pointer;
	transition: .2s;
}

#propositions ul li:hover {
	color: rgba(244, 0, 0, 0.5);
}

input#ajout[type=text] {
	width: 300px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: rgba(244, 244, 244, 0.5);
	background-image: url('./favicon.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 50px;

}

input#axes[type=checkbox] {
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: rgba(244, 244, 244, 0.5);
	padding: 12px 20px 12px 50px;
}

/*format téléphone portrait*/
@media screen and (max-width: 800px) {
		#conteneur-tier-list {
				flex-direction: column;
		}
}

@media screen and (max-width: 600px) {

		#conteneur-tier-list {
				transform: scale(0.6); 
		}
}


/*format téléphone paysage*/
@media screen and (max-height: 650px) {

		#conteneur-tier-list {
				transform: scale(0.6); 
		}
}

@media screen and (max-height: 500px) {

		#conteneur-tier-list .panneau {
				display: none;
		}
}


.inactive{
	display: none;
}